<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #timer {
            text-align: center;
            font-size: 60px;
            margin-top: 0px;
        }
    </style>
</head>


<p id="timer"></p>


<form id = "question" action="{% url 'app_quiz:question' %}" method="post">
{% csrf_token %}
    {% for qa in qa_list %}
        <p>Q: {{ qa.q }}</p>
        <div>
            {% for a in qa.a %}
                <input type="radio" id="answerChoice"
                       name="{{qa.q_id}}" value="{{ a }}" required>
                <label for="answerChoice">{{a}}</label>
            {% endfor %}
        </div>
    {% endfor %}

<br>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("{{ request.session.end_time }}").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="timer"
        document.getElementById("timer").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "TIME EXPIRED";
            document.getElementById("question").innerHTML = "<p>You Failed to submit on time; " +
                "<a href='{% url 'app_user:logout' %}'>try again</a></p>";

        }
    }, 1000);
</script>

</body>
</html>
